<div class="flex items-center w-full mt-screen justify-center">
    <div class="container">
        <div class="grid grid-cols-2 grid-rows-4">
            <app-button name="Lunes"></app-button>
            <app-button name="Martes"></app-button>
            <app-button name="Miércoles"></app-button>
            <app-button name="Jueves"></app-button>
            <app-button name="Viernes"></app-button>
            <app-button name="Sábado"></app-button>
            <app-button name="Domingo"></app-button>
        </div>
    </div>
</div>