<div class="flex items-center justify-center h-screen">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-3 grid-rows-3 gap-4">
            <app-button name="Lunes" class="text-sm p-2 m-1"></app-button>
            <app-button name="Martes" class="text-sm p-2 m-1"></app-button>
            <app-button name="Miércoles" class="text-sm p-2 m-1"></app-button>
            <app-button name="Jueves" class="text-sm p-2 m-1"></app-button>
            <app-button name="Viernes" class="text-sm p-2 m-1"></app-button>
            <app-button name="Sábado" class="text-sm p-2 m-1"></app-button>
            <app-button name="Domingo" class="text-sm p-2 m-1 col-start-2 col-end-3 row-start-3"></app-button>
        </div>
    </div>
</div>