<div class="flex items-center justify-center h-screen">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-3 grid-rows-3 gap-4 justify-items-center my-2">
            <app-button name="Lunes" link="/viewone" class="text-sm p-2 m-1"></app-button>
            <app-button name="Martes" link="/viewone" class="text-sm p-2 m-1"></app-button>
            <app-button name="Miércoles" link="/viewone" class="text-sm p-2 m-1"></app-button>
            <app-button name="Jueves" link="/viewone" class="text-sm p-2 m-1"></app-button>
            <app-button name="Viernes" link="/viewone" class="text-sm p-2 m-1"></app-button>
            <app-button name="Sábado" link="/viewone" class="text-sm p-2 m-1"></app-button>
            <app-button name="Domingo" link="/viewone"
                class="text-sm p-2 m-1 col-start-2 col-end-3 row-start-3"></app-button>
        </div>
    </div>
</div>