* {
  margin: 0;
  padding: 0;
}

.containerHome {
  background-image: url("src/assets/images/fondo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.no-scroll {
  overflow: hidden;
}
